entrypoint = "index.js"
modules = ["nodejs-20", "python-3.11"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[agent]
expertMode = true
integrations = ["twilio:1.0.0"]
